@{
    ViewData["Title"] = "Home Page";
}
@model List<Country>

<div class="text-center pb-3">
    <h1 class="display-4">Fun Lil Country Facts</h1>
    <p>Please select a country.</p>
</div>

<form method="post">
    <select class="form-control">
    @{ 
        foreach (Country country in Model) // how to access this?
        {
            <option>@country.Name</option>
        }

    }
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>